<!DOCTYPE html>
<html>
<head>
    <title>Про автора</title>
<style>
    body {
    font-size: 18px;
    line-height: 1.5;
    font-family: "Arimo", "Arial", sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 1rem; 
}
.width-container {
    width: 100%;
    max-width: 480px;
    margin: auto;
}
.pad-1 {
    padding: 1rem;
}
</style>
</head>
<body>
    <div class="width-container pad-1">
        <h2>Наумов Дмитро Павлович</h2>
        <p>Запорізький національний університет, гр.6.1219-2</p>
        <p>Github: <a href="https://github.com/dmitriynaumov1024">dmitriynaumov1024</a></p>
    </div>
    <div class="width-container pad-1">
        <p><a href="/">На головну сторінку</a></p>
    </div>
</body>
</html>