<!DOCTYPE html>
<html>
<head>
<title>Index</title>
<style>
body {
    font-size: 18px;
    line-height: 1.5;
    font-family: "Arimo", "Arial", sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
}
p {
    margin-bottom: 1rem; 
}
.width-container {
    width: 100%;
    max-width: 480px;
    margin: auto;
}
.pad-1 {
    padding: 1rem;
}
</style>
</head>
<body>
    <div class="width-container pad-1">
        <p>Це головна сторінка хостингу зображень</p>
        <p><a href="upload">Завантажити новий файл</a></p>
        <p><a href="about">Інформація про автора</a></p>
        <p><a href="rules">Правила використання</a></p>
    </div>
</body>
</html>